.inner {
  margin-block: 20px;
  width: 100%;
  max-height: 420px;
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  gap: 20px;
}
.slider {
  grid-row: span 2;
  @apply rounded-[24px];
}
.img {
  object-fit: cover;
}
.items {
  @apply flex flex-col gap-[20px];
}
.item {
  @apply flex items-center justify-center;
  @apply h-[200px] p-[20px];
  @apply bg-white;
  @apply rounded-[12px];
}

.slider_block {
  @apply w-full bg-white rounded-[24px] min-w-full;
}

@media screen and (max-width: 930px) {
  .inner {
    max-height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .items {
    flex-direction: row;
  }

  .item {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .items {
    flex-direction: column;
  }
}
