.title48_semibold {
  font-size: 48px;
  font-weight: 600;
}
.title24_semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}
.title18_semibold {
  font-size: 18px;
  font-weight: 600;
}
.title16_bold {
  font-size: 16px;
  font-weight: 700;
}

.default {
  color: var(--primary-color);
}

.accent {
  color: var(--accent-color);
}

.subtitle {
  color: var(--subtitle-color);
}
