.button_count {
  @apply flex items-center justify-between;
  @apply rounded-[8px] max-w-[110px] w-full;
}

.button {
  @apply py-[4px] px-[8px] bg-gray-200;
}
.right_btn {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.left_btn {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.icon {
  @apply text-gray-500 font-bold;
}

.button:hover {
  @apply bg-accent-color;
}

.button:hover .icon {
  @apply text-white;
}

.button:disabled {
  @apply bg-gray-100;
  @apply cursor-not-allowed;
}

.button:disabled .icon {
  @apply text-gray-300;
}

.count {
  @apply w-full h-full flex justify-center items-center bg-white text-black;
}
