.input {
  @apply max-w-[710px];
}

.icon {
  cursor: pointer;
}
.icon path,
.close_icon path {
  fill: gray;
}

.close_icon {
  width: 20px;
  height: 20px;
}


@media screen and (max-width: 640px) {
  .input {
    display: none;
  }
}

