.button {
  @apply flex items-center w-[46px] h-[46px] bg-white rounded-full justify-around cursor-pointer;
  @apply duration-75;
  @apply hover:bg-accent-color;
}

.icon {
  width: 20px;
  height: 20px;
}

.button:hover > .icon > path,
.button:hover > .icon > g {
  stroke: white;
  fill: white;
}
