.active {
  transition: all 0.2s ease;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateY(-8px);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 4px;
}
